<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <ion-button (click)="presentLoading()">Contar estrellas</ion-button>
    <ion-button (click)="presentToast()">Alentar</ion-button>
    <ion-button (click)="presentAlert()">Tirar factos</ion-button>

    <h1>Mejores equipos de fulbo argentinos:</h1>
    <ion-list>
      <ion-item>
        <ion-label>1. Boca Juniors</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2. Boca Unidos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3. Racing (mi abuelo era de Rasin)</ion-label>
      </ion-item>
    </ion-list>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Test:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Boca Juniors el más grande de América.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>